@font-face {
    font-family: MuseoSansRounded900;
    src: url(fonts/MuseoSans/MuseoSansRounded900.otf);
}

@font-face {
    font-family: RalewayRegular;
    src: url(fonts/Raleway/static/Raleway-Regular.ttf);
}

html {
    font-size: 62.5%;
    font-family: RalewayRegular, sans-serif;

    --primary-bg: #ffe0e0;
    --primary-fg: #fe4500;
    --secondary-bg: #b3a0a0;
    --secondary-fg: #ffffff;
    --tertiary-bg: #3E5C76;
    --nav-size: 12rem;
    --section-height: calc(100vh - 18rem);
}

body {
    font-size: 2rem;
}

p {
    margin: 3rem 0;
}

article:first-child {
    background-color: var(--primary-bg);
}

#title {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title img {
    max-height: 15rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 8rem;
    font-family: MuseoSansRounded900, sans-serif;
}

h2 {
    font-size: 5rem;
    margin: 3rem 0;
    font-family: MuseoSansRounded900, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: var(--primary-fg);
}

span {
    display: inline-block;
}

span::first-letter {
    color: var(--primary-fg);
}

cite {
    font-weight: bold;
}

cite:before {
    font-weight: normal;
    content: "— "
}

article {
    padding: 2rem;
}

.container {
    max-width: 120rem;
    margin: auto;
}

.fifty-fifty {
    display: flex;
    justify-content: space-around;
}

.fifty-fifty>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fifty-fifty img {
    max-width: 90%;
}

figcaption {
    padding: 0.5rem;
}

footer {
    padding: 2em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    max-height: 3rem;
    margin: 0 1rem;
}